
/* CARDS */

.single {
    padding: 2px 16px;
    background: #EFF5FC;
    display: block;
    margin: 20px 10px;
    border-left: 8px solid #fff;
}
.single:hover {
    border-left: 8px solid #004080;
}